{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script async="async" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <script type="text/javascript"  async="async" src="{% static 'main.js' %}" ></script>
  </head>
  <body>
    <section id="navbar">
        {% include 'navbar.html' %}
    </section>
    <section id="content" class="container">
        {% block content %}
        {% endblock %}
    </section>
  </body>
</html>
